*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #111;
  min-height: 100vh;
  overflow: hidden;
}



span {
  
  position:absolute;
  pointer-events: none;
  /* left: 50%;
  right: 50%;
  transform: translate(-50%,-50); */
  filter: drop-shadow(0,0,15px,rgba(0,0,0,0.5));
  animation: fade 1s linear infinite;
 
}

@keyframes fade {
  0%,100% {
    opacity: 0;
  }

  20%,80% {
    opacity: 1;
  }
}



span::before {
  content: '';
  position:absolute;
  height: 100%;
  width: 100%;

  background: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-128.png");
  background-size: cover;
  animation: heart 1s linear infinite;


}


@keyframes heart {
  0% {
    transform: translate(0) rotate(0deg);
    opacity: 0.5;
  }

  100% {
    transform: translate(300px) rotate(360deg);
    opacity: 0;
  }
}